/*
kinda Material Design 2 kinda material you (its green for testing purposes)
*/
/*
:root {
    TODO: use variables instead of whatevers going on here
}
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 300;
    color: #212121;
}

h1 {
    font-weight: 400;
    margin: 0;
}

h2, h3 {
    font-weight: 400;
    color: #757575;
    margin-top: 4px;
}
a {
    color: #19D28B;
}

button {
    display: inline-block;
    cursor: pointer;

    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #fff;
    background-color: #21F39F;

    border: none;
    border-radius:44px;
    padding: 8px 16px;
    min-width: 64px;

    box-shadow: 0 2px 2px rgba(0,0,0,.14),
                0 1px 5px rgba(0,0,0,.12),
                0 3px 1px rgba(0,0,0,.20);

    transition:
        background-color 0s ease,
        box-shadow 0.2s ease;
}

button:hover {
    background-color: #1EE585;
    box-shadow: 0 4px 5px rgba(0,0,0,.14),
                0 1px 10px rgba(0,0,0,.12),
                0 2px 4px rgba(0,0,0,.20);
}

button:active {
    background-color: #19D28B;
    box-shadow: 0 6px 10px rgba(0,0,0,.14),
                0 1px 18px rgba(0,0,0,.12),
                0 3px 5px rgba(0,0,0,.20);
}
